.heading{
    margin:50px ;
    font-weight: 800px;
    font-size: 50px;
}
h1{
    font-style: oblique ;
}
input{
    text-align: left ;
    width:100% ;
}
.col-6{
    text-align: left;
}
.col-4{
    text-align: left;
}
.row{
   margin: 5px;
}
button{
 width: 150px;
}